proposals.temp
**/.env
**/.env.*
**/*.yaml
!media/docker-compose-media.yaml
!kasm/docker-compose-kasm.yaml
!utilities/docker-compose-utilities.yaml
!ingress/docker-compose-ingress.yaml
!authentication/docker-compose-authentication.yaml
docker-compose-portainer.yaml
docker-compose-plex.yaml
