proposals.temp
**/.env
**/.env.*
**/*.yaml
!media/docker-compose-media.yaml
!kasm/**/docker-compose-kasm.yaml
!utilities/docker-compose-utilities.yaml
!ingress/docker-compose-ingress.yaml
!authentication/docker-compose-authentication.yaml
!monitoring/docker-compose-monitoring.yaml
!linkwarden/docker-compose-linkwarden.yaml
!Hashicorp\ Vault/docker-compose-vault.yaml
docker-compose-portainer.yaml
docker-compose-plex.yaml
